@model IEnumerable<ExamOne.Framework.Grade>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Subject.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.GradeValue)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model=> item.Student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model=> item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model=> item.GradeValue)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
